<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!--Meta tags exigidas-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <!--Tipografia-->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">

  <!-- Bootstrap e CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./css/style.css" media="screen">
  

  <!-- font-awesome -->
  <script src="https://kit.fontawesome.com/d8e00ce646.js" crossorigin="anonymous"></script>


  <title>Breaking Waste</title>
</head>

<body>
  <!--Navbar-->
  <%- include('./partials/header')%>

<!-- info usuario  -->
  <main>
    
    <div class="container">
      
      <section class="caixa-user">
        <div class="row">
          <div class="col-md-4">
            <img class="user-photo" src="https://cdn.pixabay.com/photo/2016/11/08/15/21/user-1808597_960_720.png">
          </div>
          <div class="col-md-8">
            <div class="user-id">
              <input class="user-name" name="razao_social" value="<%= usuario.razao_social %>"></input>
              <br>
              <br>
              <input class="ramo-name" name="cnpj" value="<%= usuario.cnpj %>"></input>
              
            </div>
          </div>
        </div>
        
      </section>

      <!--Dados do usuário que criou o cadastro-->
      <div class="row">
        <div class="col-md-6">
          
          <div class="box-sobre">
            <h3 class="titulo-sobre">Sobre</h3>
                                      
                <form action="/perfil" method="GET">
                                                  
                 <!-- RAZÃO SOCIAL -->
                 <div class="col-md-12">
                  <input class="dgi-sobre-itens" type="text" name="razao_social" value="<%= usuario.razao_social %>"><h5>Razão Social</h5></input>
                 </div>  
                
                <!-- EMAIL -->
                <div class="col-md-12">
                  <input class="dgi-sobre-itens" type="text" name="email" value="<%= usuario.email %>"><h5>E-mail</h5></input>
                 </div>
                                  
                <!-- CNPJ -->
                <div class="col-md-12">
                  <input class="dgi-sobre-itens" type="text" name="cnpj" value="<%= usuario.cnpj %>"><h5>CNPJ</h5></input>
                </div>                 
                  
                  <!-- TELEFONE -->
                  <div class="col-md-12">
                    <input class="dgi-sobre-itens" type="text" name="telefone" value="<%= usuario.telefone %>"><h5>Telefone</h5></input>
                  </div>
                  
                <!-- ENDEREÇO -->
                <div class="col-md-12">
                  <input class="dgi-sobre-itens" type="text" name="endereco" value="<%= usuario.endereco %>"><h5>Endereço</h5></input>
                </div>

                  <!-- NUMERO -->
                  <div class="col-md-12">
                    <input class="dgi-sobre-itens" type="text" name="numero" value="<%= usuario.numero %>"><h5>Número</h5></input>
                  </div>

                  <!-- BAIRRO -->
                  <div class="col-md-12">
                    <input class="dgi-sobre-itens" type="text" name="bairro" value="<%= usuario.bairro %>"><h5>BAIRRO</h5></input>
                  </div>

                  <!-- COMPLEMENTO -->
                  <div class="col-md-12">
                    <input class="dgi-sobre-itens" type="text" name="complemento" value="<%= usuario.complemento %>"><h5>Complemento</h5></input>
                  </div>

                  <!-- CIDADE -->
                  <div class="col-md-12">
                    <input class="dgi-sobre-itens" type="text" name="cidade" value="<%= usuario.cidade %>"><h5>Cidade</h5></input>
                  </div>

                  <!-- ESTADO -->
                  <div class="col-md-12">
                    <input class="dgi-sobre-itens" type="text" name="estado" value="<%= usuario.estado %>"><h5>Estado</h5></input>
                  </div>

                  <!-- CEP -->
                  <div class="col-md-12">
                    <input class="dgi-sobre-itens" type="text" name="cep" value="<%= usuario.cep %>"><h5>CNPJ</h5></input>
                  </div>

                  <!-- FUNCIONAMENTO -->
                  <div class="col-md-12">
                    <input class="dgi-sobre-itens" type="text" name="situacaofuncionamento" value="<%= usuario.situacaofuncionamento %>"><h5>Status do Usuário</h5></input>
                  </div>

                  <!-- TIPO USUARIO -->
                  <div class="col-md-12">
                    <input class="dgi-sobre-itens" type="text" name="tipousuario" value="<%= usuario.tipousuario %>"><h5>Interesses de Parceria</h5></input>
                  </div>

                  <!-- TIPO DE RESIDUO -->
                  <div class="col-md-12">
                    <input class="dgi-sobre-itens" type="text" name="tiporesiduos" value="<%= usuario.tiporesiduos %>"><h5>Resíduos</h5></input>
                  </div>

                  <!-- QUANTIDADE BOMBONAS -->
                  <div class="col-md-12">
                    <input class="dgi-sobre-itens" type="text" name="quantidadebombonas" value="<%= usuario.quantidadebombonas %>"><h5>Quantidade de bombonas</h5></input>
                  </div>

                  <!-- TAMANHO BOMBONAS -->
                  <div class="col-md-12">
                    <input class="dgi-sobre-itens" type="text" name="tamanhobombonas" value="<%= usuario.tamanhobombonas %>"><h5>Volume das bombonas</h5></input>
                  </div>

              </form>     
              
          </div>

        </div>
     
      </div>   
      <br>
      <br>      
      <submit type="button" class="btn2 btn btn-success" href="/perfil">Enviar alteração</submit>
      <a type="button" class="btn2 btn btn-success" href="/logout">Sair</a>
  </main>




  <!--Footer-->
  <%- include('partials/footer') %> 


  <!--JQuery, JS e Popper.Js-->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

</body>

</html>